:root {
    --blue: deepskyblue;
    --grey: #999;
    --lightgrey: #f5f5f5;
    --black: #4d4d4d;
    --counter: 1;
}
body {
    font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1000px;
    /*overflow: hidden;*/
}

/*  header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 16px;
    font-weight: 700;
    width: 1000px;
}

.header-wrapper :nth-child(1) {
    display: flex;
    flex-direction: column;
}
.header-wrapper :nth-child(1) :nth-child(1) {
    color: var(--blue);
}
.header-wrapper :nth-child(1) :nth-child(2) {
    color: var(--grey);
}
.header-wrapper img {
    width: 350px;
}
.header-wrapper :nth-child(2) {
    align-self: end;
    justify-self: center;
}
.header-wrapper :nth-child(3) {
    justify-self: end;
}
.header-wrapper button {
    background: var(--blue);
    border-radius: 3px;
    border: none;
    height: 30px;
    color: white;
    font-weight: 700;
    min-width: 200px;
    padding: 6px 20px 6px 20px;
}

/*  nav bar  */
.navbar {
    width: 1000px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    line-height: 21px;
    font-size: 15px;
    border-bottom: 2px solid rgb(235, 235, 235);
}
.nav-list {
    padding: 0;
    display: grid;
    justify-content: center;
    list-style: none;
    grid-template-columns: repeat(13, auto);
    grid-gap: 10px;
}
.nav-list > * {
    padding: 2px;
}
/*
.more_item:after {
    content: '»';
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 10px;
    transform: rotate(90deg);
    vertical-align: middle;
}*/
.nav-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 0.5em;
}
.nav-icons img {
    width: 20px;
}
.nav-icons div {
    min-width: 80px;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
.nav-icons div p {
    min-width: 60px;
}
.blue {
    color: var(--blue);
}
/*  main  */
article {
    display: grid;
    overflow: hidden;
    grid-template-columns: 70% 30%;
    gap: 20px;
    width: 1000px;
}
.article-image {
    width: 97%;
    margin: 5px 0 0 0;
}

/*  main > right sidebar  */
.sidebar {
    right: calc((100vw - 1000px - 16px) / 2);
    width: 25%;
    position: fixed;
    margin-top: 20px;
    display: grid;
    line-height: 26px;
    font-weight: 700;
    width: 292px;
}

.sidebar-header button {
    background: var(--lightgrey);
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 2px;
    font-weight: 700;
    padding: 10px;
}
.sidebar-header .blue-button {
    background: var(--blue);
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: 700;
}

.sidebar-list {
    list-style: none;
    padding-left: 0 !important;
    margin: 0 !important;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    font-size: 1.3em;
}
.sidebar-list li {
    grid-column: 1 / 5;
    width: 100%;
    background: var(--lightgrey);
    margin: 2px;
    padding: 5px;
}
.sidebar-list span {
    grid-column: 5 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: var(--blue);
    background-color: var(--lightgrey);
    margin: 2px 0 2px 0;
}

/*  main > left  */
.left-container h1 {
    font-size: 2em;
}

.left-container p {
    line-height: 26px;
    font-size: 17px;
}
.insert-part {
    background-color: var(--lightgrey);
    padding: 6px;
}
.planet-button {
    color: white;
    background: #3b5998;
    font-weight: 700;
    font-size: 15px;
    padding: 8px;
    margin: 5px;
    border: none;
    border-radius: 3px;
}

/*  ad-container  */
.ad-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 20px;
}
.ad-container h2 {
    grid-column: 1 / -1;
    grid-row: 1;
}
.ads {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
    grid-gap: 20px;
}
.ad-container img {
    width: 257px;
}
.ads div {
    width: 257px;
    font-weight: 700;
    font-size: 1.2em;
}

/*  footer  */
.footer-signup input {
    width: 20em;
    margin: 0 20px 0 20px;
    border: none;
    border-bottom: 1px solid #4d4d4d;
}
.footer-signup button {
    background: #015587;
    color: white;
    font-weight: 700;
    padding: 8px 80px 8px 80px;
    border: none;
    border-radius: 3px;
}
.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #999;
}
.setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.setting button {
    background: #015587;
    color: white;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 3px;
}
.download-img img {
    width: 110px;
}
.follow-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*  social  */
.social-container {
    display: flex;
    gap: 14px;
}
.social {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.social-small {
    margin-top: 5px;
    margin-bottom: 12px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.facebook {
    background: #3b5998;
}
.twitter {
    background: rgb(29, 161, 242);
}
.whatsapp {
    background: rgb(77, 194, 71);
}
.instagram {
    background: rgb(0, 119, 181);
}
.reddit {
    background: rgb(255, 87, 0);
}
.email,
.print {
    background: rgb(153, 153, 153);
}

.pinterest {
    background: rgb(203, 32, 39);
}
